<h1>contactme</h1>

<%= link_to image_tag('email.png', :class => "contact_icon"), "mailto:sheilachan@cmu.edu" %>
<%= link_to image_tag('facebook.png', :class => "contact_icon"), "https://www.facebook.com/sheila.chan.54" %>
<%= link_to image_tag('linkedin.png', :class => "contact_icon"), "http://www.linkedin.com/pub/sheila-chan/50/677/75b" %>