<div class="home-div row">
	<div class="home-div-sheila col-md-6">
		<div class="home-div-sheila-text">
			<h1 class="home-header">SHEILA CHAN</h1>
		</div>
	</div>
	<div class="home-div-menu col-md-6">
		<%= link_to	"projects", projects_path %>
		<br>
		<%= link_to	"work_experience", works_path %>
		<br>
		<%= link_to	"attachments", attachments_path %>
	</div>

</div>

